input[type="file"] {
    display: none;
}

.tag-input {
    outline: none !important;
}

.usrs-tags-divider {
    border: 1px solid #cccccc6b;
    margin-top: 1rem;
}


/* .form-group.required label:after {
    content: "*";
    color: red;
    margin-left: 2px;
} */