body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3px;
}

.font-09 {
    font-size: 0.9rem;
}

.font-08 {
    font-size: 0.8rem;
}

.w-80 {
    width: 80%;
}

.w-20 {
    width: 20%;
}

.p-04 {
    padding: 0.4rem;
}

.c-link:hover {
    color: #6cb0f8 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.tox-tinymce {
    border-radius: 3px !important;
    border: 1px solid #cccc !important;
}