body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #eef1f3
}

.mt-100 {
    margin-top: 80px
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125)
}

.btn-primary.btn-shadow {
    box-shadow: 0 0.125rem 0.625rem rgba(63, 106, 216, 0.4), 0 0.0625rem 0.125rem rgba(63, 106, 216, 0.5)
}

.btn.btn-wide {
    padding: .375rem 1.5rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: .25rem
}

.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8
}


/* .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
} */

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.flex-truncate {
    min-width: 0 !important
}

.d-block {
    display: block !important
}

a {
    color: #E91E63;
    text-decoration: none !important;
    background-color: transparent
}

.result-data {
    color: #3c4142;
    font-weight: 400;
    font-size: 0.875rem;
}

.media img {
    width: 40px;
    height: auto
}

.tagsinput,
.tagsinput * {
    box-sizing: border-box
}

.tagsinput {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #fff;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #556270;
    padding: 5px 5px 0;
    border: 1px solid #ced4da;
    border-radius: 2px
}

.tagsinput.focus {
    border-color: #ccc
}

.tagsinput .tag {
    position: relative;
    background: #556270;
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    color: #fff;
    padding: 5px 30px 5px 5px;
    border-radius: 2px;
    margin: 0 5px 5px 0;
    font-size: 0.75rem;
}

.tagsinput .tag .tag-remove {
    position: absolute;
    background: 0 0;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #ff6b6b;
    line-height: 30px;
    padding: 0;
    border: 0
}

.tagsinput .tag .tag-remove:after,
.tagsinput .tag .tag-remove:before {
    background: #ff6b6b;
    position: absolute;
    display: block;
    width: 10px;
    height: 2px;
    top: 14px;
    left: 10px;
    content: ''
}

.tagsinput .tag .tag-remove:before {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.tagsinput .tag .tag-remove:after {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg)
}

.tagsinput div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.tagsinput div input {
    background: 0 0;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    border: 0;
    margin: 0 5px 5px 0
}

.tagsinput div input.error {
    color: #ff6b6b
}

.tagsinput div input::-ms-clear {
    display: none
}

.tagsinput div input::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input:-moz-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input::-moz-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input:-ms-input-placeholder {
    color: #ccc;
    opacity: 1
}

.more-filter-btn {
    background-color: #cccccc54;
    border: 1px solid #cccccc54;
}

.top-member-btn {
    font-size: 0.7rem !important;
    letter-spacing: 0.4px !important;
}

.top-badge .badge {
    padding: 0.3rem 0.5rem;
    font-size: 0.72rem;
    margin-right: 0.15rem;
    margin-top: 0.35rem;
}

.search-tbl-head {
    font-weight: bold;
    font-size: 1rem;
}

.dashboard-unit {
    border: 1px solid #cccccc73;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dashboard-unit-left-border {
    border-left: 3px solid #2d6ff7;
}

.dashboard-unit-right-border {
    border-right: 3px solid #2d6ff7;
}

.dropdown-filter label {
    font-size: 0.85rem;
    font-weight: bold;
}

#adv-search {
    margin-left: 15% !important;
    width: 54% !important;
}

.qustner-user-detail {
    font-size: 0.72rem;
    margin-top: 0.5rem !important;
}